@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.alignment {
    background: transparent;
    display: inline-flex;
}


.container {
    position: relative;
}

.image {
    display: block;
    margin: 10cm 2cm 3cm 2cm;
    width: 260px !important;
    height: 260px !important;
    border-radius: 6px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 76px;
    width: 260px;
    height: 260px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 105%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container:hover .textOverlay {
    font-family: "Montserrat",sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    z-index: 1;
}

.container:hover .overlay {
    opacity: 1;
}