.card {
    margin-top: 3cm;
    margin-left: 18%;
    margin-bottom: 3cm;
    width: 300px;
    height: 260px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 5px 35px 0px #c4d6d664;
}

.card img {
    display: block;
    width: 260px !important;
    height: 260px !important;
    border-radius: 10px;
}


.alignment {
    background: transparent;
    margin-top: -5cm;
    display: inline-flex;
}

.card h3 {
    color: black;
    background: transparent;
    font-family: 'Nova Oval', cursive;
}