@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.main button {
    border-radius: 5px;
    padding: 8px 11px 8px 11px;
}

.orange {
    color: #ff9a00;
}

.red {
    color: #14ffec;
}

.button1 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ff9a00;
    color: #ffffff;
    margin-right: 5px;
    background: transparent;
    cursor: pointer;
}

.main {
    color: rgb(251, 251, 251);
    padding: 5cm;
    text-align: left;
}

.main span {
    background: transparent;
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
}

.main span b {
    background: transparent;
}

.main p {
    background: transparent;
    font-family: "Montserrat", sans-serif;
    word-spacing: 1.5px;
    font-size: 17px;
}