@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.red li {
    color: #14ffec;
    margin-left: 9cm;
}

.nav ul li {
    background: transparent;
    font-size: 16px;
    padding: 0 13px 0 13px;
    font-family: "Montserrat",sans-serif;
    display: inline-block;
    margin-top: 40px;
}

.hnav ul li {
    background: transparent;
    font-size: 16px;
    padding: 0 13px 0 13px;
    font-family: "Montserrat",sans-serif;
    display: inline-block;
    margin-top: 15.5px;
}

.pnav ul li {
    background: transparent;
    font-size: 16px;
    padding: 0 13px 0 13px;
    font-family: "Montserrat",sans-serif;
    display: inline-block;
    margin-top: 15.5px;
}

.nav ul a {
    background: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}

.nav ul a:hover {
    background: transparent;
    color: #ff9a00;
}
.nav ul img {
    background: transparent;
    /*width = 3.716 X=x height*/    
    width: 149px;
    height: 40px;
    transform: translate(20%, 35%);
    margin-left: 2cm;
}

.pnav ul img {
    background: transparent;
    /*width = 3.716 X=x height*/    
    width: 149px;
    height: 40px;
    transform: translate(20%, 35%);
    margin-left: 1.67cm;
}

.hnav ul img {
    background: transparent;
    /*width = 3.716 X=x height*/    
    width: 149px;
    height: 40px;
    transform: translate(20%, 35%);
    margin-left: 1.67cm;
}



.glow_btn {
    background: transparent;
    font-family: "Montserrat",sans-serif;
    background-color: #14ffec;
    border-radius: 60px;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-out;
    margin-left: 7cm;
}

.glow_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d121c;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.glow_btn:hover {
    background-color: #ff9a00;
    color:#000000;
}



.searchBar {
    background: transparent;
    background-color: rgba(227, 224, 224, 0.5);
    color:rgb(219, 240, 244);
    border:none;
    border-radius: 5px;
    height: 35px;
    padding: 5px 10px 5px 40px;
    width: 13cm;
    transition: background-color 0.3s ease-in-out;
    font-size: 15px;
    margin-left: -0.7cm;
}

.searchBar::placeholder {
    color: rgb(228, 241, 252);
}

.searchBar:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
}


.searchimage {
    background: transparent;
    margin-left: 6cm !important;
    color: #000000;
    height: 22px !important;
    width: 22px !important;
    transform: translate(20%,28%) !important;
}