@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.align_center {
    margin-top: 1.5cm;
    margin-left: 15.5cm;
}

.container {
    font-family: "Montserrat", sans-serif;
    margin: 1cm 0 1cm 6cm;
    display: inline-flex;
    border-radius: 10px;
    width: 25cm;
    height: 7.4cm;
    background: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(222, 222, 222, 0.5);
}

.container1 {
    font-family: "Montserrat", sans-serif;
    margin: 1cm 0 1cm 6cm;
    display: inline-flex;
    border-radius: 10px;
    width: 25cm;
    height: 4.2cm;
    background: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(222, 222, 222, 0.5);
}



.flipper {
    position: relative;
    width: 240px;
    height: 240px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flipper img {
    text-align: center;
    display: block;
    width: 240px !important;
    height: 240px !important;
    border-radius: 6px;
}

.front,
.back {
    position: fixed;
    width: 240px;
    height: 240px;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

.flip_container:hover .flipper {
    transform: rotateY(180deg);
}

.col1 h3 {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 2cm;
    text-align: center;
}

.col1 {
    margin-left: 1.5cm;
    width: 4cm;
    height: 6cm;
}

.col11 h3 {
    font-size: 20px;
    color: whitesmoke;
    margin-top: 1cm;
    text-align: center;
}

.col11 {
    margin-top: 10px;
    width: 6cm;
    height: 2cm;
}

.col2 {
    padding-top: 27px;
    margin-left: 2cm;
    width: 10cm;
    height: 6cm;
}

.col22 {
    padding-top: 20px;
    margin-left: 1.45cm;
    width: 10cm;
    height: 2cm;
}

.inputbox {
    padding: 0.6rem;
    margin: 8px 0 8px 0;
    border: 1px solid #ccc;
    background-color: #909090;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 15cm;
}

.inputbox::placeholder{
    color: rgb(255, 255, 255);
}
.submitButton {
    width: 9cm;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 8px;
    background-color: #ff9a00;
    border: none;
    color: rgb(0, 0, 0);
    padding: 0.8rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #3e8e41;
}